<mat-card class="card-section" >
    <mat-card-title>User Details from Web Apis</mat-card-title>
  

</mat-card>
<mat-list>
    <mat-list-item> Name : {{result.name}} </mat-list-item>
    <mat-list-item> Email : {{result.emailId}} </mat-list-item>
    <mat-list-item> Company Code : {{result.companyCode}} </mat-list-item>
    <mat-list-item> Customer Id : {{result.customerId}} </mat-list-item>
    
    <mat-list-item> Roles : {{result.roles}} </mat-list-item>
    <mat-list-item> User ID : {{result.userADId}} </mat-list-item>
   </mat-list>

